<!doctype html>  
<html>  
<head>    
<meta charset="utf-8">  
<title>手机网站</title>  
<meta name="keywords" content="" />  
<meta name="description" content="" />  
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />    
<meta name="format-detection" content="telephone=no" />  
<meta name="apple-mobile-web-app-capable" content="yes" />  
<meta name="apple-mobile-web-app-status-bar-style" content="black"> 
<link rel="stylesheet"  href="__CSS__/reset.css"/>
<link rel="stylesheet"  href="__CSS__/common.css"/>
<link rel="stylesheet"  href="__CSS__/layer.css"/>
<script type="text/javascript" src="__JS__/index.js"></script>
<script type="text/javascript" src="__JS__/jquery.min.js"></script>
<script type="text/javascript" src="__JS__/layer.js"></script>
</head>  
<body> 
<div class="header">
	<div class="menus" onClick="openmenu();">
    </div>	   
    <div class="reminder">
    </div>
</div>